body{
  background-image: url('assets/')

}
#cards div{
  border: blue 1px solid;
  height: 50px;
  width: 30px;
  text-align: center;
}
#cards span{
  font-size: 120px;
}
#cards .red{
  color: red;
}
#cards .black{
  color: black;
}
